.trip {
  margin: 4rem 6rem;
  color: #2a2a2a;
  overflow: hidden;
}

.trip h1 {
  font-size: 3rem;
  text-align: center;
}

.trip p {
  text-align: center;
}

.t-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -1rem; /* Adjust negative margin to counteract the margin from .t-image */
}

.t-image {
  flex: 0 0 calc(33.33% - 2rem); /* Adjust width of each card to fit three in a row */
  width: 300px; /* Set a fixed width for each card */
  margin-bottom: 2rem; /* Adjust spacing between cards */
  padding: 0 1rem; /* Add horizontal padding */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
  text-align: center; /* Center align content */
}

.t-image img {
  width: 100%;
  max-height: 250px;
  border-radius: 7px;
}

.t-image h4 {
  margin-top: 1rem; /* Adjust spacing between image and heading */
}

.t-image p {
  margin-top: 1rem; /* Adjust spacing between heading and paragraph */
}
